.container {
  text-align: center;
  margin-top: 150px; /* Fixed margin for iPhone 13 Pro */
  margin-right: 15px;
  margin-left: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  color: white;
}

.custom-button {
  background-color: #FF0062;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-button:hover {
  background-color: #4338CA;
}

.custom-button:active {
  transform: scale(0.95);
}

.wheel-box {
  /*display: flex;*/
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80%;
}
