.container {
  text-align: center;
  margin-top: 10px;
  margin-right: 25px;
  margin-left: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  color: white;
  position: relative; /* Ensure the container is positioned relative */
}

.title-box {
  text-align: center;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
  font-family: 'Bradley Hand', cursive, sans-serif;
  color: #FF0062;
}

.footer {
  color : #FF0062;
  text-align: center;
  margin-top: 80px;
}

.custom-button {
  background-color: #FF0062;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  font-family: "Ms Madi", serif;
  font-weight: 400;
  font-style: normal;
}

.custom-button:hover {
  background-color: #73061A;
}

.custom-button:active {
  transform: scale(0.95);
}

.wheel-box {
  margin-top: 30px;
  margin-left: 37px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 80%;
  height: 80%;
  position: relative; /* Ensure the wheel box is positioned relative */
}

.result-card {
  position: absolute; /* Position the result card absolutely */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the card */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Ensure the card appears above other elements */
  text-align: center;
}

.result-card h2 {
  margin-top: 0;
}

.result-card button {
  margin-top: 10px;
  background-color: #FF0062;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.result-card button:hover {
  background-color: #4338CA;
}

.result-card button:active {
  transform: scale(0.95);
}

.result-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  text-align: center;
}

.result-card h2 {
  margin-top: 0;
}

.result-image {
  max-width: 160px;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

.result-card button {
  margin-top: 10px;
  background-color: #FF0062;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.result-card button:hover {
  background-color: #4338CA;
}

.result-card button:active {
  transform: scale(0.95);
}

.ms-madi-regular {
  font-family: "Ms Madi", serif;
  font-weight: 400;
  font-style: normal;
}

